<launch>
    <param
        name="robot_description"
        textfile="$(find davinci_description)/robots/davinci_description.URDF" />

    <!-- Launch the driver -->
    <rosparam
        command="load"
        file="$(find davinci_driver)/config/davinci_ips.yaml"
    />
    <node name="davinci_driver_node" type="davinci_driver_node" pkg="davinci_driver" output="screen" ns="davinci" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam
        command="load"
        file="$(find davinci_driver)/config/davinci_control.yaml"
    />

    <!-- load the controllers -->
    <node
        name="controller_spawner_joint_state_controller"
        pkg="controller_manager"
        type="spawner"
        respawn="false"
        output="screen"
        ns="davinci"
        args="joint_state_controller"
    />

    <node
        name="controller_spawner_position_controller"
        pkg="controller_manager"
        type="spawner"
        respawn="false"
        output="screen"
        ns="davinci"
        args="joint_position_controller"
    />

 </launch>